<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
      <title>Simple-Tile-Server</title>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
      <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
      <style>#map {position:absolute; top:0; bottom:0; width:100%;}</style>
    </head>
    <body>
      <div id="map"></div>
      <script>
        var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'});
        var layer = L.tileLayer('http://127.0.0.1:{{port}}/tiles/{z}/{x}/{y}.png', {tms: true, opacity: 1, attribution: ""});
        var point = new L.Point({{x}}, {{y}});
        var radius = 6378137;
        var latLng = L.Projection.SphericalMercator.unproject(point.divideBy(radius));
        var map = L.map('map', {
            zoom: {{zoom}},
            center: [latLng.lat, latLng.lng],
            minZoom: 1,
            maxZoom: {{max_zoom}} + 1,
            layers: [osm, layer]
        });
      </script>
    </body>
  </html>
